.card {
    width: 280px;
    border-radius: 13px 13px 13px 13px;
    background-color: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
}

.card .header {
    background-color:  #FF5252;
    border-radius: 10px 10px 0px 0px;
}
.card img {
    width: 80px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 8px 5px rgba(0, 0, 0, 0.2);
}

.card .footer {
    gap: 10px;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 30px;
}

.card .footer h4 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 24px;
    line-height: 22px;
    margin-top: 60px;
    margin-bottom: 0px;
}

.card .footer label {
    padding-top: 20px;
    font-size: 18px;
    line-height: 22px;
    color: #212121;
}
